.idea/
__pycache__/
/venv/
/2021_06_list.xlsx
/2021_06_merged_code.xlsx
/AND_2021_02_not_marked.xlsx
/AND_2021_06_1-15_py.xlsx
/AND_202104.xlsx
/and_202105_copy.xlsx
/anervaloid_2021.03..xlsx
/anervaloid_2021.03_v2..xlsx
/main2.py
/main3.py
/python_tests.xlsx
/python_tests_full.xlsx
/test2.xlsx
/test2 (copy).xlsx
/test3.xlsx
/vp_28.xlsx
/VPL_2021_02.xlsx
/vsp_03.xlsx
/vsp_03_v2.xlsx
/vsp_04.xlsx
/vsp_04v2.xlsx
/VSP_2021_06_1-15_py.xlsx
/VSP_2021_06_16-30.xlsx
/vsp_202105_copy.xlsx
/~$vsp_04.xlsx
